<!-- js部分 -->
<script type="text/javascript" src="${ctxPath}/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/common.js"></script>

<script type="text/javascript" src="${ctxPath}/assets/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/jquery.ba-resize.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/vue.min.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/treeTable.js"></script>
