<!DOCTYPE html>
<html>
<head>
    <:include file="../common/css.html" title="站点管理"/>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!--<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>-->
    <!--<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>-->
    <!--<script type="text/javascript" src="${ctxPath}/assets/js/vue.min.js"></script>-->

</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->


            <!-- 表格顶部工具栏 -->
            <div class="layui-form toolbar">
                <div class="layui-form-item">

                    <!--
                                        <div class="layui-inline">
                                            <label class="layui-form-label w-auto">搜索：</label>
                                            <div class="layui-input-inline mr0">
                                                <input name="keyword" class="layui-input" type="text" placeholder="站点ID\站点名称"/>
                                            </div>
                                        </div>
                    -->

                    <div class="layui-inline">

                        <!--
                                                <button class="layui-btn icon-btn" lay-filter="searchSubmitMenu" lay-submit>
                                                    <i class="layui-icon">&#xe615;</i>搜索站点
                                                </button>
                        -->


                        <!--<button id="menuBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>-->

                        <!--
                                                <button id="authBtnSync" class="layui-btn icon-btn"><i class="layui-icon">&#xe669;</i>同步站点
                                                </button>
                        -->

<!--
                        <button id="gaBtnSync" class="layui-btn icon-btn"><i class="layui-icon">&#xe669;</i>同步GA数据
                        </button>

                        <button id="fbBtnSync" class="layui-btn icon-btn"><i class="layui-icon">&#xe669;</i>同步FB数据
                        </button>
-->

                        <!--
                                                <button id="syncBtn" class="layui-btn icon-btn"><i class="layui-icon">&#xe669;</i>同步数据
                                                </button>
                        -->



                    </div>
                </div>
            </div>

            <!-- 数据表格 -->
            <table id="itemsTable" lay-filter="itemsTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="itemTbBar">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" id="edit" style="visibility: hidden;">修改</a>-->
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" id="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"
       data-dropdown="#menuTbDelDrop{{d.LAY_INDEX}}" no-shade="true">删除</a>
    <!--<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="auth">权限分配</a>-->
    <div class="dropdown-menu-nav dropdown-popconfirm dropdown-top-right layui-hide"
         id="menuTbDelDrop{{d.LAY_INDEX}}"
         style="max-width: 200px;white-space: normal;min-width: auto;margin-left: 10px;">
        <div class="dropdown-anchor"></div>
        <div class="dropdown-popconfirm-title">
            <i class="layui-icon layui-icon-help"></i>
            确定要删除吗？
        </div>
        <div class="dropdown-popconfirm-btn">
            <a class="layui-btn" btn-cancel>取消</a>
            <a class="layui-btn layui-btn-normal" lay-event="del">确定</a>
        </div>
    </div>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="itemsEditDialog">
    <form id="itemsEditForm" lay-filter="itemsEditForm" class="layui-form model-form" >
        <input name="id" type="hidden"/>


        <!--
                <div class="layui-form-item">
                    <label class="layui-form-label">站点选择</label>
                    <div class="layui-input-block">
                        <select name="itemsId" id="itemsId" lay-filter="itemsId"></select>
                    </div>
                </div>
        -->


<!--

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">GA站点：</label>
            <div class="layui-input-block">
                <select name="itemsId" id="itemsId" lay-filter="itemsId" lay-verify="required"
                        lay-verType="tips"></select>
            </div>
        </div>
-->


        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">名称：</label>
            <div class="layui-input-block">
                <input name="sourceName" placeholder="请输入名称" type="text" class="layui-input"
                       maxlength="80" lay-verify="required"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">渠道：</label>
            <div class="layui-input-block">
                <div id="channelSel"></div>
            </div>
        </div>


<!--
        <div class="layui-form-item" id="app">
            <label class="layui-form-label layui-form-required">GA站点：</label>
            <div class="layui-input-block" >
                <select @change='getValue' v-model="gaItems" id="itemsId" name="itemsId" lay-filter="itemId">
                    <option v-bind:value="isSelect">默认值</option>
                    <option v-for="gaItems in gaItemsList" :value="gaItems.value" >{{gaItems.name}}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">GA账户：</label>
            <div class="layui-input-block">
                <div id="gaAccountSel"></div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">FB账户：</label>
            <div class="layui-input-block">
                <div id="fbAccountSel"></div>
            </div>
        </div>
-->



        <!--
                <div class="layui-form-item">
                    <div class="layui-input-block">
                    </div>
                    <div class="layui-input-block">
                    </div>
                    <div class="layui-input-block">
                    </div>
                    <div class="layui-input-block">
                    </div>
                    <div class="layui-input-block">
                    </div>
                    <div class="layui-input-block">
                    </div>
                </div>
        -->

        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="itemsEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>

    </form>
</script>



<:include file="../common/js.html"/>
</body>
<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'xmSelect', 'dropdown', 'zTree', 'treeTable', 'laypage'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var config = layui.config;
        var xmSelect = layui.xmSelect;
        var treeTable = layui.treeTable;
        var laypage = layui.laypage;
        // treeGrid = layui.treeGrid;


/*
        var gaItemsList = JSON.parse('${gaItemsList!}').map(function (d) {
            return {name: d.name, value: d.value}
        });
        var gaAdAccountList = JSON.parse('${gaAdAccountList!}').map(function (d) {
            return {name: d.name, value: d.value}
        });
        var fbAdAccountList = JSON.parse('${fbAdAccountList!}').map(function (d) {
            return {name: d.name, value: d.value}
        });
*/

        var channelList = JSON.parse('${channelList!}').map(function (d) {
            return {name: d.name, value: d.value}
        });


        // layui.use(['laypage', 'layer'],function(){
        //     var laypage = layui.laypage
        //         ,layer = layui.layer;
        //     var total = $('#total').val();


/*
            //分页
            laypage.render({
                elem: '#itemsTable'
                // ,count: total
                ,page:true
                ,count: 100
                ,limit: 10
                ,skin: '#1E9FFF'
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                ,jump: function(obj, first){
                    // if(!first){
                        $.ajax({
                            url :'channel/page',
                            data : {
                                'curr' : obj.curr,
                                'limit' : obj.limit
                            },
                            type : 'post',
                            dataType : 'json',
                            success : function(data){
                                // test(data);
                                treeFunc();

                            }
                        });
                    // }
                }
            });
        // })
*/





            var tbDataList = [];  // 表格全部数据
        // function treeFunc(){
            /* 渲染表格 */
            var insTb = treeTable.render({
                // var insTb = tableX.render({
                elem: '#itemsTable',
                tree: {
                    iconIndex: 1,
                    idName: 'id',
                    pidName: 'parent_id',
                    isPidData: true,
                    getIcon: ''
                },

                // url: 'items/page',
                page: true,
                limit: 10,   //默认十条数据一页
                limits: [10, 20, 30, 50],  //数据分页条
                // where: data,
                height: 'full-100',

                toolbar: ['<p>',
                    ' <button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>',
                    '</p>'].join(''),

                cellMinWidth: 100,
                // totalRow: true,
                cols: [[
                    // {type: 'checkbox'},
                    {type: 'numbers'},
                    // {field: 'item_name', title: '站点名称', sort: true},
                    {field: 'source_name', title: '渠道名称'},
                    // {field: 'item_id', title: '站点ID', sort: true},
                    // {field: 'adAccount', title: '广告账户', sort: true},
                    {field: 'source', title: '渠道'},
                    {title: '操作', toolbar: '#itemTbBar', align: 'center', width: 200}
                ]]
                ,reqData: function (data, callback) {
                    admin.req('channel/page', function (res) {
                        tbDataList = res.data ? res.data : [];
                        for (var i = 0; i < tbDataList.length; i++) {
                            tbDataList[i].open = true;
                        }
                        callback(tbDataList);

                    });

                }
                ,done: function (res, curr, count) {
                    console.log("show res.data:"+JSON.stringify(res))

                }
            });


        // }





        /* 表格搜索 */
        form.on('submit(searchSubmitMenu)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        /*
                table.on('tool(itemsTable)', function (obj) {
                    if ('edit' === obj.event) { // 修改
                        showEditModel(obj.data);
                    } else if ('del' === obj.event) { // 删除
                        doDel(obj);
                    } else if ('auth' === obj.event) {  // 权限管理
                        showPermModel(obj);
                    }
                });
        */

        /* 表格头工具栏点击事件 */
        treeTable.on('toolbar(itemsTable)', function (obj) {
            if ('add' === obj.event) { // 添加
                showEditModel();
            } else if ('del' === obj.event) { // 删除
                var checkRows = table.checkStatus('itemsTable');
                if (0 === checkRows.data.length) {
                    return layer.msg('请选择要删除的数据', {icon: 2, anim: 6});
                }
                var ids = checkRows.data.map(function (d) {
                    return d.roleId;
                });
                doDel({ids: ids});
            }
        });

        /* 表格操作列点击事件 */
        treeTable.on('tool(itemsTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改

                console.log("edit obj："+JSON.stringify(obj))
                showEditModel(data);
            } else if (layEvent === 'del') { // 删除
                doDel(obj);
            } else if ('auth' === obj.event) {  // 权限管理
                showPermModel(obj);
            }
        });

        /* 删除 */
        function doDel(obj) {
            var loadIndex = layer.load(2);
            $.get('channel/delete', {id: obj.data.id}, function (res) {
                layer.close(loadIndex);
                if (0 === res.code) {
                    layer.msg(res.msg, {icon: 1});
                    insTb.refresh();


                    // 更新站点
                    channelList = JSON.parse(res.channelList);

                } else {
                    layer.msg(res.msg, {icon: 2, anim: 6});
                }
            });
        }


        // 同步按钮点击事件
        $('#authBtnSync').click(function () {

            console.log("authBtnSync.......0");


            layer.confirm('确定进行同步吗？<br><span style="color: red;">（自动同步GA和FB所有站点）</span>', {

                skin: 'layui-layer-admin'
            }, function () {
                layer.load(2);

                console.log("authBtnSync.......1")

                // 保存
                admin.req('items/sync', {
                    // json: JSON.stringify(authList)

                }, function (res) {

                    console.log("authBtnSync.......3："+ JSON.stringify(res));

                    layer.closeAll('loading');
                    if (0 == res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'POST');
            });


        });


        // 同步按钮点击事件
        $('#gaBtnSync').click(function () {

            layer.confirm('确定进行同步吗？<br><span style="color: red;">（自动同步Google数据）</span>', {

                skin: 'layui-layer-admin'
            }, function () {
                layer.load(2);

                console.log("authBtnSync.......1")

                // 保存
                admin.req('items/syncGoogleData', {
                    // json: JSON.stringify(authList)

                }, function (res) {

                    console.log("authBtnSync.......3："+ JSON.stringify(res));

                    layer.closeAll('loading');
                    if (0 == res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'POST');
            });
        });

        // 同步按钮点击事件
        $('#fbBtnSync').click(function () {

            layer.confirm('确定进行同步吗？<br><span style="color: red;">（自动同步Facebook数据）</span>', {

                skin: 'layui-layer-admin'
            }, function () {
                layer.load(2);

                console.log("authBtnSync.......1")

                // 保存
                admin.req('items/syncFacebookData', {
                    // json: JSON.stringify(authList)

                }, function (res) {

                    console.log("authBtnSync.......3："+ JSON.stringify(res));

                    layer.closeAll('loading');
                    if (0 == res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'POST');
            });
        });


        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.open({
                type: 1,
                title: (mData ? '修改' : '添加') + '渠道',
                content: $('#itemsEditDialog').html(),
                success: function (layero, dIndex) {

                    // console.log("showEditModel gaAdAccountList:"+JSON.stringify(gaAdAccountList))
                    // console.log("showEditModel fbAdAccountList:"+JSON.stringify(fbAdAccountList))
                    console.log("showEditModel mData:"+JSON.stringify(mData))

                    // getSites(sitesData); // 加载站点

                    // $("#itemsId").find("dd[lay-value='118674272']").prop("selected",true);


/*
                    if(mData){
                        // 把要修改的站点添加到下拉框中
                        var count = 0;
                        for(var i = 0; i < gaItemsList.length; i++){
                            var gaItems = gaItemsList[i];
                            if(gaItems.value == mData.itemsId){
                                count++;
                            }
                        }
                        if(count <= 0){
                            var obj = {};
                            obj['value']=mData.itemsId;
                            obj['name']=mData.itemsName;
                            gaItemsList.push(obj)
                        }
                    }
*/

/*
                    console.log("+++++++++gaItemsList："+JSON.stringify(gaItemsList))
                    var vue = new Vue({
                        el:'#app',
                        data:{
                            gaItemsList:gaItemsList,
                            isSelect:"selected",
                            gaItems:'',

                        },
                        methods:{
                            getValue: function(){
                                alert("1315145")
                            }
                        },
                    });
*/


/*
                    var obj = new Object();
                    obj.id = mData.parent_id;
                    obj.open = true;
                    obj.departname = 0;
                    obj.parent_id = 0;
                    obj.parentdepartid = 0;
                    obj.sourceName = 'test';
                    obj.type = 0;
                    obj.push();
*/

                    // var parent = $("[lay-id='itemsTable'] tbody tr[data-index='0']");
                    // console.log("parent parent："+JSON.stringify(parent))



                    // 回显表单数据
                    form.val('itemsEditForm', mData);


                    var tr = $(".ew-tree-table-box").find("tbody tr[data-index='" + 0 + "']");
                    console.log("parent parent："+JSON.stringify(tr))

                    console.log("showEditModel mData2")

                    layui.use('form', function() {
                        var form = layui.form;
                        form.on('select(itemId)', function(data){

                            admin.req('items/getCanBindAdAccount', {itemsId:data.value}, function (res) {
                                console.log("res:"+JSON.stringify(res))
                                if (res.code == 0) {
                                    // 渲染多选下拉框
                                    romanceXmSelect(res.canBindChannelList);
                                }
                            }, 'GET');
                        });
                    });

                    console.log("showEditModel mData3")

                    // 表单提交事件
                    form.on('submit(itemsEditSubmit)', function (data) {
                        console.log("submit(itemsEditSubmit) 我要开始提交了:"+JSON.stringify(data))
                        var loadIndex = layer.load(2);
                        $.post(mData ? 'channel/update' : 'channel/add', data.field, function (res) {
                            layer.close(loadIndex);
                            if (0 === res.code) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload({page: {curr: 1}});
                                // location.reload();

                                // 更新站点
                                // gaItemsList = JSON.parse(res.gaItemsList);
                                // gaAdAccountList = JSON.parse(res.gaAdAccountList);
                                // gaAdAccountList = res.gaAdAccountList;
                                // fbAdAccountList = JSON.parse(res.fbAdAccountList);
                                // fbAdAccountList = res.fbAdAccountList;
                                console.log("添加成功了 channelList："+JSON.stringify(channelList))

                            } else {
                                layer.msg(res.msg, {icon: 2, anim: 6});
                            }
                        });
                        return false;
                    });

                    if(mData){

                        // admin.req('channel/getBindAdChannel', {itemsId:mData.itemsId}, function (res) {
                        admin.req('channel/getCanBindAdChannel', {channelId:mData.id}, function (res) {
                            console.log("res:"+JSON.stringify(res))
                            if (res.code == 0) {
                                console.log("渲染多选下拉框 if："+JSON.stringify(res.canBindChannelList))
                                // 渲染多选下拉框
                                romanceXmSelect(res.canBindChannelList);

                            }
                        }, 'GET');
                    }else{
                        // console.log("渲染多选下拉框 else："+JSON.stringify(res))
                        // 渲染多选下拉框
                        // romanceXmSelect(res.canBindChannelList);

                        console.log("romanceXmSelect channelList："+JSON.stringify(channelList))
                        romanceXmSelect(channelList);

                    }

                    // 弹窗不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');

                    layui.form.render("select");//重新渲染 固定写法

                }
            });
        }

        // 渲染多选下拉框
        function romanceXmSelect(channelList){

/*
            var insGASel = xmSelect.render({
                el: '#gaAccountSel',
                name: 'gaAccountSel',
                layVerify: 'required',
                layVerType: 'tips',
                filterable: true,
                data: gaAdAccountList
            });

            var insFBSel = xmSelect.render({
                el: '#fbAccountSel',
                name: 'fbAccountSel',
                layVerify: 'required',
                layVerType: 'tips',
                filterable: true,
                data: fbAdAccountList
            });
*/

            var insChannelSel = xmSelect.render({
                el: '#channelSel',
                name: 'channelSel',
                layVerify: 'required',
                layVerType: 'tips',
                filterable: true,
                toolbar: { show: true },
                data: channelList
            });
        }


        // 同步按钮点击事件
        $('#syncBtn').click(function () {

            showEditModel();

        });


        var sitesData;
        function getSites(sitesParam){

            console.log("sitesData:"+JSON.stringify(sitesParam))


            // if(sitesParam){ // 清空不需要请求接口重新获取
            if(0){ // 清空不需要请求接口重新获取

                console.log("不需要请求接口...")
                sites = sitesParam;
                /*
                                var $select = $('[lay-filter="searchForm"] select[name="itemsId"]');
                                $select.html('<option value="">请选择</option>');
                                for (var i = 0; i < sites.length; i++) {
                                    $select.append('<option value="' + sites[i].id + '">' + sites[i].name + '</option>');
                                }
                */
                var $select2 = $('[lay-filter="itemsEditForm"] select[name="itemsId"]');
                console.log("select2："+JSON.stringify($select2))
                $select2.html('<option value="">请选择</option>');
                for (var i = 0; i < sites.length; i++) {
                    $select2.append('<option value="' + sites[i].id + '">' + sites[i].name + '</option>');
                }

                // getJobNumber(sites);



                layui.form.render("select");//重新渲染 固定写法

            }else{ // 初始化

                console.log("请求接口...")
                // admin.req('itemsData/getSite', {}, function (res) {
                admin.req('items/getItems', {}, function (res) {

                    sites = JSON.parse(res.data);
                    console.log("sitesData:"+JSON.stringify(sites))

                    sitesData = sites;

                    console.log("获取全部站点1："+JSON.stringify(sites))
                    console.log("类型是："+typeof sites)



                    var $select = $('[lay-filter="itemsEditForm"] select[name="itemsId"]');
                    console.log("select："+JSON.stringify($select))
                    $select.html('<option value="">请选择</option>');
                    for (var i = 0; i < sites.length; i++) {
                        $select.append('<option value="' + sites[i].value + '">' + sites[i].name + '</option>');
                    }
                    /*
                                        var $select2 = $('[lay-filter="editForm"] select[name="itemsIdSearch"]');
                                        console.log("select2："+JSON.stringify($select2))
                                        $select2.html('<option value="">请选择</option>');
                                        for (var i = 0; i < sites.length; i++) {
                                            $select2.append('<option value="' + sites[i].id + '">' + sites[i].name + '</option>');
                                        }
                    */

                    // getJobNumber(sites);

                    form.on('select(itemsId)', function(data){

                        console.log("选择站点了....")

                        // form.on('select(jobNumber)', function(data){

                        console.log("点了工号J："+JSON.stringify(data))
                        console.log("点了工号 value："+data.value)

                        admin.req('items/getAdAccount', {itemsId:data.value}, function (res) {
                            console.log("res:"+JSON.stringify(res))
                            if (res.code == 0) {

                                console.log("data:"+JSON.stringify(res.data))

/*
                                gaAdAccountList = res.data

                                var insGASel = xmSelect.render({
                                    el: '#gaAccountSel',
                                    name: 'gaAccountSel',
                                    layVerify: 'required',
                                    layVerType: 'tips',
                                    filterable: true,
                                    data: gaAdAccountList
                                });
*/


/*
                                var $select = $('[lay-filter="searchForm"] select[name="adAccount"]');
                                $select.html('<option value="">请选择广告账户</option>');
                                for (var i = 0; i < res.data.length; i++) {
                                    $select.append('<option value="' + res.data[i].id + '">' + res.data[i].ad_account + '</option>');
                                }
*/
                                layui.form.render("select");//重新渲染 固定写法

                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'GET');
                        // });
                    })



                    form.render("select");//重新渲染 固定写法

                }, 'GET');
            }
        }


        /* 权限管理 */
        function showPermModel(obj) {
            var mRoleId = obj.data.roleId;
            admin.open({
                title: '角色权限分配',
                btn: ['保存', '取消'],
                content: '<ul id="roleAuthTree" class="ztree" style="padding-left: 15px;min-height: 150px;"></ul>',
                success: function (layero, dIndex) {
                    var loadIndex = layer.load(2);
                    $.get('role/menu/list', {roleId: mRoleId}, function (res) {
                        layer.close(loadIndex);
                        if (0 === res.code) {
                            $.fn.zTree.init($('#roleAuthTree'), {
                                check: {enable: true},
                                data: {
                                    key: {name: "menuName"},
                                    simpleData: {
                                        enable: true,
                                        idKey: "menuId",
                                        pIdKey: "parentId", rootPId: 0
                                    }
                                }
                            }, res.data);
                        } else {
                            layer.msg(res.msg, {icon: 2, anim: 6});
                        }
                    });
                    // 超出一定高度滚动
                    $(layero).children('.layui-layer-content').css({'max-height': '300px', 'overflow': 'auto'});
                },
                /*
                yes: function (dIndex) {
                    var checkedRows = $.fn.zTree.getZTreeObj('roleAuthTree').getCheckedNodes(true);
                    var ids = [];
                    for (var i = 0; i < checkedRows.length; i++) {
                        ids.push(checkedRows[i].menuId);
                    }
                    var loadIndex = layer.load(2);
                    admin.req('role/menu/update/' + mRoleId, JSON.stringify(ids), function (res) {
                        layer.close(loadIndex);
                        if (0 === res.code) {
                            layer.msg(res.msg, {icon: 1});
                            layer.close(dIndex);
                        } else {
                            layer.msg(res.msg, {icon: 2, anim: 6});
                        }
                    }, 'post');
                }
                */
            });
        }


        function getObj(obj){
            var names="";
            for(var name in obj){
                names+=name+": "+obj[name]+", ";
            }
            // alert(names);
            console.log("getObj names:"+names)
        }



    });
</script>
</html>
